@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

/* Global */
:root {
    --graph-background: #444;
    --radius: 5px;
    font-size: 12px;
    --gap: 16px;
    --curr-node-color: #ffd16a;
}

h1 {
    font-weight: bold;
    font-size: 2em;
}
h3 {
    font-weight: bold;
    font-size: 1.6em;
}

body {
    margin: 0;
    font-family: 'Lora', serif;
}

p {
    font-size: 1.3em;
}
 
.info-pane {
    position: absolute;
    left: var(--gap);
    top: var(--gap);
    padding: 0;
    max-width: 400px;
    width: 40%;
    border-radius: var(--radius);

    height: auto;
    max-height: 100vh;
    overflow: auto;
}

.toggle2d3d {
    background-color: #eddbbf;
    padding: var(--gap);
    border-radius: var(--radius);
    border: 2px solid rgba(255, 167, 167, 0.574);
    margin-bottom: var(--gap);
    width: 50px;
}

.info-module {
    background-color: #eddbbf;
    padding: var(--gap);
    border-radius: var(--radius);
    border: 2px solid rgba(255, 167, 167, 0.574);
    margin-bottom: var(--gap);

}

input {
    all: unset;
    background-color: rgb(233, 212, 186);
    border-radius: var(--radius);
    height: 32px;
    box-sizing: border-box;
    padding: 5px 10px;
}

input:focus {
    background-color: rgb(225, 205, 179);
    
}

button {
    all: unset
}

.button-group {
    display: flex;
    gap: var(--gap);
    justify-content: flex-start;
    align-items: center;
    position: sticky;
    top: 0;
}

.button-group button {
    display: flex;
    background-color: #e0d2bb;
    padding: 10px;
    border-radius: var(--radius);
}

.button-group button i {
    margin-right: 4px;
}

.search {
    display: flex;
    gap: var(--gap);
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
}

.search input {
    flex-grow: 2;
}

.search i::before {
    color: rgb(255, 62, 62);
    fill: rgb(255, 65, 65);
}

i::before {
    font-size: 1.5em;
}

p {
    margin: 0;
}

h1 {
    margin-top: 0.2em;
}

#taken-button.active {
    background-color: #67ae99;
    color: white;
}
#star-button.active {
    background-color: #ec8b3b;
    color: white;
}
#plan-button.active {
    background-color: #cf4d8f;
    color: white;
}

details {
    font-size: 1em;
}

details summary {
    font-size: 1.2em;
}

.d-none {
    display: none;
}

#toggledim {
    display: flex;
    background-color: #e0d2bb;
    padding: 10px;
    margin: -10px;
    border-radius: var(--radius);
    
}