@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');





body{
    background-color: rgb(51,50,48); 
}
.userLogin{
    position:absolute;
    right: 10vw;
    top: 3vw;
    float: right;
}
.loginButton{
    border-radius: 50%;
    height: 50px;
    width: 50px;
    border: none;
}
.split{
    width: 25%;
    height: 85%;
    position: fixed;
    left: 20px;
    float: left;
    color: rgb(51,50,48);
}
.top{
    top: 0;
}

.bottom{
    bottom: 0;
}
.graph-control {
    position: absolute;
    float: left;
    top: 1vw;
    overflow: auto;
}
input.search-box{
    background-color: #eddbbf;
    color: rgb(51,50,48);
    border: none;
    padding: 0.5em;
    margin: 1em 1em 1em 0.5em;
}
.course-detail{
    display: flex;
    flex-direction: column;
    float: left;
}
.course-overview{
    text-align: left;
    word-break: break;
    font-size: 1.5em;
    background-color: #eddbbf;
    padding: 15px;
    margin-bottom: 0.5em;
}
.course-logistics{
    /* margin-top: 5px; */
    border: 1em;
    font-size:1.2em;
    line-height:1;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 15px;
    background-color: #eddbbf;
    margin-bottom: 0.5em;
}
.course-details{
    font-size:1.2em;
    line-height:1;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 15px;
    background-color: #eddbbf;
    margin-bottom: 0.5em;
}
.highlight-path{
    border: 1em;
    line-height:1;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    background-color: #eddbbf;
    display: flex;
    flex-direction: row
}
.buildGraphBtn{
    border-radius: 50%;
    height: 30px;
    width: 30px;
    border: none;
    margin-top: 14px;
    background-color: #fd8e17
}